body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #828dde, #e1498e);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background: rgb(219, 153, 153);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 500px;
    text-align:left;
}

h2 {
    margin-bottom: 15px;
    text-align:center;
}

input {
    width: 95%;
    padding: 10px;
    margin: 0px 0;
    border: 1px solid #ccc;
    border-radius: 1px;
}

button {
    width: 99%;
    padding: 10px;
    margin-top: 10px;
    background: rgb(222, 233, 12);
    color: rgb(227, 73, 73);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: rgb(1, 40, 49);
}

.error-message {
    color: red;
    font-size: 14px;
    height: 15px;
}
.container {
    max-width: 800px;
    background: rgb(233, 119, 119);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(58, 65, 51, 0.1);
}
